.Loading{
  position: absolute;
  left: 52%;
  top: 50%;
  z-index: 1;
  width: 60px;
  height: 60px;
  margin: -75px 0 0 -75px;
  border: 4px solid var(--bgColor);
  border-radius: 50%;
  border-top: 4px solid var(--fontColor);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}  
@-webkit-keyframes spin{
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}  
@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media (max-width:768px){
  .Loading{
    left: 57%;
  }  
}